<template>
  <div class="container">
    <div class="row mt-1">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title text-center">Video Table</h3>

            <div class="card-tools">
              <button
                class="btn btn-success"
                data-toggle="modal"
                data-target="#addNew"
                @click="openModalWindow"
              >
                Add New
                <i class="fab fa-youtube"></i>
              </button>
            </div>
          </div>

          <div class="card-body table-responsive p-0">
            <table class="table table-hover">
              <tbody>
                <tr class="text-center">
                  <th>Name</th>
                  <th>Url</th>
                  <th>View</th>
                  <!-- <th>Playlist</th> -->
                  <th>Modify</th>
                </tr>

                <tr class="text-center" v-for="video in videos" :key="video.id">
                  <td>{{ video.name }}</td>
                  <td>{{ video.url }}</td>
                  <!-- <td>{{ video.playlist.name }}</td> -->
                  <!-- <td>{{ perfil.created_at | formatDate}}</td> -->
                  <td>
                     <div class="card" style="width: 12rem;">
                    <video-embed :src="video.url"></video-embed>
                     </div>
                  </td>
                  <td>
                    <a href="#" data-id="video.id" @click="editModalWindow(video)">
                      <i class="btn btn-warning fas fa-edit">Edit</i>
                    </a>
                    |
                    <a href="#" @click="deleteVideo(video.id)">
                      <i class="btn btn-danger fas fa-trash">Delete</i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="card-footer"></div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="addNew"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addNewLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 v-show="!editMode" class="modal-title" id="addNewLabel">Add New Playlist</h5>
            <h5 v-show="editMode" class="modal-title" id="addNewLabel">Update Playlist</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <form @submit.prevent="editMode ? updateVideo() : createVideo()">
            <div class="modal-body">
              <div class="form-group">
                <input
                  v-model="form.name"
                  type="text"
                  name="name"
                  placeholder="Name"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('name') }"
                />
                <has-error :form="form" field="name"></has-error>
              </div>

              <div class="form-group">
                <input
                  v-model="form.url"
                  type="url"
                  name="url"
                  placeholder="Url"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('url') }"
                />
                <has-error :form="form" field="url"></has-error>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button v-show="editMode" type="submit" class="btn btn-primary">Update</button>
              <button v-show="!editMode" type="submit" class="btn btn-primary">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- <v-card v-for="playlist in playlists" :key="playlist.id">
      <video-embed :src="playlist.url"></video-embed>
    </v-card> -->
    <!-- <div class="col-md-12" v-for="playlist in playlists" :key="playlist.id">
         <video-embed :src="playlist.url"></video-embed>
    </div> -->
  </div> 
</template>

<script>
export default {
  data() {
    return {
      editMode: false,
      videos: {},
      form: new Form({
        id: "",
        name: "",
        url: "",

      })
    };
  },
  methods: {
    editModalWindow(video) {
      this.form.clear();
      this.editMode = true;
      this.form.reset();
      $("#addNew").modal("show");
      this.form.fill(video);
    },
    updateVideo() {
      this.form
        .put("/video/" + this.form.id)
        .then(() => {
          Toast.fire({
            icon: "success",
            title: "Video updated successfully"
          });

          Fire.$emit("AfterCreatedVideoLoadIt");

          $("#addNew").modal("hide");
        })
        .catch(() => {
          console.log("Error.....");
        });

      this.loadVideo();
    },
    openModalWindow() {
      this.editMode = false;
      this.form.reset();
      $("#addNew").modal("show");
    },

    loadVideo() {
      axios.get("/video").then(data => (this.videos = data.data));

      //pick data from controller and push it into users object
    },

    createVideo() {
      this.$Progress.start();

      this.form
        .post("/video")
        .then(() => {
          Fire.$emit("AfterCreatedVideoLoadIt"); //custom events

          Toast.fire({
            icon: "success",
            title: "Video created successfully"
          });

          this.$Progress.finish();

          $("#addNew").modal("hide");
        })
        .catch(() => {
          console.log("Error......");
        });

      this.loadVideo();
    },
    deleteVideo(id) {
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
      }).then(result => {
        if (result.value) {
          //Send Request to server
          this.form
            .delete("/video/" + id)
            .then(response => {
              Swal.fire("Deleted!", "Video deleted successfully", "success");
              this.loadVideo();
            })
            .catch(() => {
              Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Something went wrong!",
                footer: "<a href>Why do I have this issue?</a>"
              });
            });
        }
      });
    }
  },

  created() {
    this.loadVideo();

    Fire.$on("AfterCreatedVideoLoadIt", () => {
      //custom events fire on
      this.loadVideo();
    });
  }
};
</script> 